*.DS_Store
output_cf/
output_package/
local/
node_modules/
.zip
test_package
.serverless
.idea
.mypy_cache
.vscode

**/__pycache__
.pytest_cache
*.coverage
venv
.serverless
agroclod_virtual_eviroment
